<div class="wrap" *ngIf="event">
    <h1 class="title">{{event.title}}</h1>
    <div class="row">
        <ul class="data">
            <li *ngIf="event.formatted_address">{{event.formatted_address}}</li>
            <li *ngIf="event.phone">{{event.phone}}</li>
            <li *ngIf="event.site">{{event.site}}</li>
            <li *ngIf="event.age_choices[0]">{{event.age_choices[0]}} лет</li>
            <li *ngIf="event.price">
                <div>Цена для взрослых: {{event.price.adult_price}}</div>
                <div>Цена для детей: {{event.price.child_price}}</div>
            </li>
            <li *ngIf="event.schedule">Начало: {{event.schedule[0].schedule_date | date: 'dd.MM.yyyy'}}
                в {{event.schedule[0].start_times[0]}}</li>
        </ul>
        <p class="description">{{event.description}}</p>
        <img [src]="site + event.images[0].image" alt="poster" class="poster">
    </div>
</div>

